<launch>
    <rosparam command="load" file="$(find my_guardy)/config/guardy_control.yaml" />

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/guardy" args='joint_state_controller upperlegM1_joint_position_controller upperlegM2_joint_position_controller upperlegM3_joint_position_controller lowerlegM1_joint_position_controller lowerlegM2_joint_position_controller lowerlegM3_joint_position_controller' />
    
    
    <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/guardy/joint_states" />
  </node>
    
    
    
</launch>